.chatPanel .chatListColumn .bot{
    height: 30px;
    width: 30px;
    background: url('https://raw.githubusercontent.com/SaneBow/wxBot/master/icons/baymax2.png') no-repeat;
    right: 35px;
    background-size: cover;
    position: absolute;
    top: 0px;
    display:none;
}

.chatPanel .chatListColumn .bot.active{
    display:inline;
}

.chatPanel .chatListColumn.over{
    background: #81c348;
}

.bot-home {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 190px;
    top: -27px;
}

.bot-home.pauseico {
    height: 30px;
    width: 30px;
    left: 220px;
    top: 5px;
    display:none;
}

.bot-home.pauseico.paused {
    display:inline;
}

span.tooltip {
      position: absolute;
      width: 128px;
      height: 48px;
      line-height: 48px;
      padding: 0px 16px 0px 8px;
      font-size: 18px;
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgb(96, 172, 57);
      border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
      border-radius: 5px 5px 5px 5px;
      text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
      box-shadow: rgb(85, 153, 51) -4px 0px 4px 0px inset;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 15px;
      border-style: solid;
      border-color: transparent #60AC39 transparent transparent;
      top: 10px;
      left: -30px;
}

#bot-wrapper span {
    right:-150px;
    top:-30px;
    opacity:0.8;
    display:none;
}


@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
