.chatPanel .chatListColumn .bot{
    height: 30px;
    width: 30px;
    background: url('https://baymaxphotobomb.net/it_IT/media/images/character-icon-baymax5.png') no-repeat;
    right: 27px;
    background-size: cover;
    position: absolute;
    top: 15px;
    display:none;
}
.chatPanel .chatListColumn .bot.active{
    display:inline;
}
.chatPanel .chatListColumn.over{
    border:1px solid green;
}

.bot-home {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 190px;
    top: -27px;
}


